# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.idea/
.vscode/

# Videos
*.mp4
*.avi
*.mov
*.mkv

# YOLO models
*.pt
*.onnx

# Training outputs
runs/

# Datasets
dataset/
biscuit_dataset/

# Python cache
*.pyo