# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.idea/
.vscode/

# Videos
*.mp4
*.avi
*.mov
*.mkv
*.csv

# YOLO models
*.pt
*.onnx
.env
# Training outputs
runs/

# Datasets
dataset/
biscuit_dataset/

# Python cache
*.pyo

videos/


#folders
diagnostic_results

